.nav .nav_logo {
    height: 60px;
    margin: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    color: whitesmoke;
    text-transform: uppercase;
    text-shadow: 0 2px 3px black;
}
.nav .nav_logo i {
    padding-right: 10px;
}
.nav section {
    position: fixed;
    top: 50%;
    transform: translate( 0, -50%);
    right: -160px;
    text-align: left;
    z-index: 10;
}
.nav section p {
    cursor: pointer;
    width: 200px;
    background-color: #f1f1f8;
    padding: 5px;
    font-size: 24px;
    border-radius: 20px 0 0 20px;
    box-shadow: 5px 3px 10px 0px black;
    margin-left: 100px;
    transition: 0.2s linear;
    padding-left: 20px;
}
.nav section i {
    padding-right: 30px;
}
.nav section a {
    color: inherit;
    text-decoration: inherit;
}
.nav section p:hover {
    margin-left: -50px; 
    padding-right: 100px;  
}